/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */
.tree-view-resizer {
  width: auto !important;
}
atom-text-editor {
  font-family: source-code-pro, Terminal, monospace;
}
#linter-panel {
  max-height: 100px;
}
